{% extends 'templates/header.html' %}

{% block nav-onesample %}<a class="active" href="{% url 'onesample' %}">One sample</a>{% endblock %}

{% block content %}

<br>

{% if status == "set_layout" %}

<form action="" method="get">

<table>
{% for field in form %}
	{% if field.field.required %}
	<tr><td>
	{{ field.label }}</td><td>{{ field }}</td><td>{{ field.help_text }}
	</td></tr>
	{% endif %}
{% endfor %}
</table>

<input type="submit" value="Create plate layout">
</form>

{% elif status == "set_outcome" %}

<form action="" method="get">

<table>
{% for field in form %}
	{% if forloop.counter < 6 %}
	<tr><td>
	{{ field.label }}</td><td>{{ field }}</td><td>{{ field.help_text }}
	</td></tr>
	{% endif %}
{% endfor %}
</table>
<p>
Bookmark this page to save the <u>above</u> plate layout settings.<br>
</p>
<hr>
<p>
Process multiple sample outcomes with the same plate layout by changing the data <u>below</u>.
</p>
<p>
dils = {{ dils }}<br>
<table>
{% for field in form %}
	{% if forloop.counter > 5 %}
	<tr><td>
	{{ field.label }}</td><td>{{ field }}</td><td>{{ field.help_text }}
	</td></tr>
	{% endif %}
{% endfor %}
</table>
<br>

<input type="submit" value="Submit sample outcome">
</form>

{% elif status == "results" %}

<p>
Here are the results of midSIN's analysis:
</p>
<p>
{{ image|safe }}
</p>
<p>
<b>Left graph</b> The likelihood distribution of the SIN concentration in your sample. The log<sub>10</sub> SIN/mL concentration of your sample is indicated above the graph. The &#177; numbers are the 68% CI (CI = credible interval) and the &#177; in square brackets are the 95% CI.
</p>
<p>
<b>Right graph</b> The # of infected wells (y-axis) as a function of your sample dilution (x-axis) are shown. Please use this graph to visually confirm you entered your # infected wells and dilution factor correctly. The x value where the blue curve crosses the horizontal dashed line is the log<sub>10</sub> dilution at which your sample contains 1 TCID<sub>50</sub>/mL. The RM and SK lines indicates this same quantity, but estimated by the less accurate and biased <a href="https://doi.org/10.1093/oxfordjournals.aje.a118408">Reed-Muench</a> and <a href="https://doi.org/10.1111/j.2044-8295.1908.tb00176.x">Spearman</a>-<a href="https://doi.org/10.1007%2FBF01863914">K&auml;rber</a> methods.
</p>
<p>
If you would like to use midSIN to process multiple outcomes at a time, rather than one by one, do <a href="{% url 'batch' %}">A batch</a>.
</p>


<p>
<u>Your settings were:</u><br>

{% for key,val in params.items %}
	&nbsp; {{ key }} = {{ val }}<br>
{% endfor %}
</p>

{% else %}

You shouldn't be here. Something went wrong. Try again!

{% endif %}

{% endblock %}
